.navbar form input,
.navbar form button,
.dropdown-menu
{
	font-size: 1.6rem;
}

.navbar form input{
	padding: 1.6rem;	
}

header{
    display: grid;
    background-image: linear-gradient( rgba(255, 255, 255, 0.7),  rgba(235, 235, 235, 0.7)) ;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    grid-template-columns: 1fr;
    grid-template-rows: 20vh;
    padding: 3rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px){
    header{
        grid-template-rows: 5vh 15vh;
        padding: 3rem 0 0 0;
    }
}

.mobile-title{
    display: none;
}

@media only screen and (max-width: 600px){
    .mobile-title{
        align-self: end;
        display: block;
    }
}

.spoon{
    margin: 0 auto;
    width: 95vw;
    max-width: 100rem;
    display: grid;
    grid-template-columns: calc(50% - 17.5rem) 35rem 1fr 18rem;
    align-items: center;
}

@media only screen and (max-width: 600px){
    .spoon{
        align-self: start;
        grid-template-columns: 1fr 1fr 10rem;
    }
}

.handle{
    height: 1rem;
    background-color: #999;
}

h1{
    justify-self: center;
    font-size: 6rem;
    font-family: Copperplate, fantasy;
    font-weight: 700;
    background-image: linear-gradient(#777, #ccc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: skewX(-20deg);
}

.desktop-title{
    display: block;
}

@media only screen and (max-width: 600px){
    .desktop-title{
        display: none;
    }
}

.scoop{
    margin-left: -2px;
    border: 2px solid #999;
    height: 10rem;
    background-image: radial-gradient(#999, #ccc);
    border-radius: 70%;
}

@media only screen and (max-width: 600px){
    .scoop{
        height: 6rem;
    }
}
