<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:include="fragments/th_base :: head"></head>

<body>
<nav th:replace="fragments/th_header :: navbar"></nav>
<header th:replace="fragments/th_header :: header"></header>
<div class="container">
    <div class="row">
        <div class="cols12">
            <form action="/recipes/new" method="post" th:object="${recipe}">
                <input type="text" hidden value="test" th:field="*{user}">
                <h1>New Recipe</h1>
                <div class="form-group">
                    <label for="recipe_title"><h2>Title</h2></label>
                    <input type="text" class="form-control" id="recipe_title"
                           placeholder="Margarita Pizza" th:field="*{title}">
                </div>
                <div class="form-group">
                    <label for="recipe_imgURL"><h2>Picture</h2></label>
                    <input type="text" class="form-control" id="recipe_imgURL"
                           placeholder="http/https URL to image" th:field="*{imgURL}">
                </div>
                <!--<div class="form-group">-->
                <!--<label for="exampleFormControlTextarea1">Example textarea</label>-->
                <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
                <!--</div>-->
                <h2>Ingredient</h2>
                <div class="input-group">

                    <label for="ingredient">Name:</label>
                    <input type="email" class="form-control" id="ingredient"
                           placeholder="basic ingredient name">
                    <label for="ingredient_notes">Notes:</label>
                    <input type="text" class="form-control" id="ingredient_notes"
                           placeholder="notes/specifics (ie: thinly sliced, flour by weight">
                    <input type="text" class="form-control"
                           aria-label="Amount and units of measure">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Units
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Cups</a>
                            <a class="dropdown-item" href="#">Ounces</a>
                            <a class="dropdown-item" href="#">Pieces</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Custom</a>
                        </div>
                    </div>
                </div>
                <h2>Steps</h2>
                <div class="input-group">

                    <label for="steps">Step 1.)</label>
                    <input type="text" class="form-control" id="steps" placeholder="Step ...">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Clear</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/th_base :: footer"></footer>
<div th:replace="fragments/th_base :: site_scripts"></div>
</body>

</html>