<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:include="fragments/th_base :: head"></head>

<body>
<nav th:replace="fragments/th_header :: navbar"></nav>
<header th:replace="fragments/th_header :: header"></header>
<section>
	<div id="samsAwesomeDiv">
            <h2>Learn about The Spoon</h2>
            <p>Welcome to the spoon, we are a small team of 4, consisting of Sam Moore, Ben Nowak, David Keith, Erik Davis. Based out of Charlotte, we wanted an inclusive application, that could allow others with curious taste buds to enjoy different culinary options.  Please join us in sharing our different tastes with the world!
            </p>
    </div>
</div>
<footer th:replace="fragments/th_base :: footer"></footer>
<div th:replace="fragments/th_base :: site_scripts"></div>
</body>

</html>