<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:include="fragments/th_base :: head"></head>

<body>
<nav th:replace="fragments/th_header :: navbar"></nav>
<header th:replace="fragments/th_header :: header"></header>
<section>
    <!--@{/recipes/edit/{id}(id=*{id})}-->

    <!--@{/recipes/update/${newRecipe.id}}-->
	<form class="create-recipe" action="#" th:action="@{/recipes/update/{id}(id=${id})}" method="post" th:object="${newRecipe}">
                    <label for="username">User</label>
                    <input type="text" class="form-control" id="username" th:field="*{user}">
                    <p style="visibility: hidden">text</p>
                <h2 class="cr-main-header">New Recipe</h2>
                <p style="visibility: hidden">text</p>
                    <label for="recipe_title">Title</label>
                    <input type="text" class="form-control" id="recipe_title"
                           placeholder="Margarita Pizza" th:field="*{title}">
                    <label for="recipe_imgURL">Picture</label>
                    <input type="text" class="form-control" id="recipe_imgURL"
                           placeholder="http/https URL to image" th:field="*{imgURL}">
                <p style="visibility: hidden">text</p>
                <h2 class="cr-secondary-header">Ingredient</h2>
                    <label for="ingredient">Name:</label>
                    <input type="text" class="form-control" id="ingredient"
                           placeholder="ingredients JSON string" th:field="*{ingredients}">
                <p style="visibility: hidden">text</p>
                <h2 class="cr-secondary-header">Steps</h2>
                    <label for="steps">Step 1.)</label>
                    <input type="text" class="form-control" id="steps" placeholder="step JSON string" th:field="*{steps}">
                    <p style="visibility: hidden">text</p>
                    <p style="visibility: hidden">text</p>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Clear</button>
            </form>
</section>
<footer th:replace="fragments/th_base :: footer"></footer>
<div th:replace="fragments/th_base :: site_scripts"></div>
</body>

</html>